.destBox
{
    padding: 10px 5px;

   
}
.destBox img
{
    width: 100%;
    height: 250px;
    object-fit: cover ;
    border-radius: 5px;
}  
.destBox h1
{
    font-size: 25px;
    margin-top: 20px;
    color: #000;
    text-decoration: none;
  
}
.destBox p
{
    color: #000;
}
.more-dest-btn
{
    text-decoration: none;
    background-color: #000;
    color: var(--primary-color);
    padding: 10px 10px ;
    border-radius: 10px;
    font-size: 18px;
    
}
.button
{
    background-color: transparent;
    color: #000;
    border: 3px #000 solid;
    padding: 5px 13px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 20px;
    position:relative;
    
}
.button:hover
{
    border: 3px #586380 solid;
    color: #586380;
    transition: 0.3s;
}
.destination     
{
    text-decoration: none;  
}


.search-container .search-button {
    background-color: transparent;
    border: none;
    color: #000000;
    padding: 6px 8px;
    border-radius: 13px;
    font-size: 0.95vw;
    height: 2;
}


.search-container {
    padding-top: 2%;
    text-align: center;
}
.search-container p {
    background-color:var(--primary-color);
    padding: 8px ;
    border-radius: 10px;
    border:  3px var(--primary-color) solid;
    color: #fff;

   
}
.field{
    width: 450px;
    height: 45px;
    border-radius: 10px;
    background-color: #fff;
    border: 3px #000 solid;

}
.search-container p:hover {
    background-color:transparent;
    padding: 8px ;
    border-radius: 10px;
    border:  3px var(--primary-color) solid;
    color: var(--primary-color);
}