<div class="countainer-fluid footer">
    <div class="row">
        <div class="col-lg-5">
            <h1>Orbital</h1>
            <p>Traverse the stars</p>
        </div>
        <div class="col-lg-5">
            <a routerLink="">Home</a>
            <a routerLink="destinations">Destinations</a>
            <a routerLink="login">Login</a>
        </div>
       
        <div class="col-lg-2">
            <a href=""><i class="bi bi-github" href=""> GitHub</i></a>
            <h5>Made by Aleksandar Milosevic 2020230378 </h5>
        </div>
        
        
    </div>
</div>